* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 16px;
}

/*Footer*/

hr#divider {
  clear: both;
  display: block;
  border: 3px solid orange;
  margin: 0;
}

#hr-two {
  clear: both;
  display: block;
  border: 20px solid #293847;
  margin: 0;
}

.footer {
  clear: both;
  display:block;
  text-align: center;
  background-color: #222F3C;
  color: orange;
  padding-top: 50px;
  padding-bottom: 20px;
}
